%table.zebra-striped
  %thead
    %tr
      %th Type
      %th User
      %th Text
  %tbody
    - collection.each do |note|
      %tr
        %td= find_label_by_type(note.type)
        %td= note.user
        %td= note.text
