- header "New #{controller.controller_name.singularize.humanize}"
= simple_form_for resource, :wrapper => :inline do |f|
  .inputs
    = f.input :text, :as => :text, :input_html => { :class => 'xxlarge' }
  .actions
    = f.button :submit, :class => 'primary'
